# Android Studio File
*.iml
.gradle
.idea
local.properties

/captures
.externalNativeBuild

#Android Studio Navigation
.navigation/

# Keystore file
*.jks

# Các file APK đã build
/build
/app/build

*.apk
*.ap_
*.dex
*.class

# File 
bin/
gen/
out/


#file log
*.log




